body{
    zoom:175%;
}
.side_bar{
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color:#111;
    overflow-x: hidden;
}
.icons a {
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
.side_bar a:hover{
    color:#f1f1f1;
}

.logo{
    width: 120px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
}

.admin{
    color: red;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 10px;
}

.logout_admin{
    color: red;
    margin-left: 30px;
}

button{
    background-color: rgb(164, 241, 157);
    border: none;
}
.content{
    margin-left: 200px;
    float: left;
    padding: 20px;
    width: 800px;
    align-items: center;
    background-color: white;
}

input{
    width: 500px;
    margin-top: 10px;
    border-radius: 0.5em;
}
select{
    width: 500px;
    margin-top: 10px;
    border-radius: 0.5em;
    height: 25px;
}

.submit{
    background-color: #818181;
}

table {
	border: 1px solid black; 
	border-collapse: collapse; 
	text-align: center;	
    border-radius: .5em;
    margin-top: 10px;
}

th{
    background-color: darkblue;
    color: white;
}
td, th {
    padding-left: 25px;
    margin-right: 5px;
	/* border: 1px solid black; */
}

td{
    font-size: 15px;
}

tr:nth-child(even){
    background-color: rgb(131, 202, 237);
}
h1{
    font-size: large;
}
.add{
    margin-top: 10px;
    border-radius: 0.3em;
    background-color: rgb(164, 236, 175);
}

.date_input{
    width: 385px;
    align-content: center;
}