<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial_scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='CSS/admin.css')}}">
    </head>
    <body>
            <div class="side_bar">
                <a href="{{url_for("admin")}}">
                <img class="logo" src="{{url_for('static', filename ='image/logo.png')}}">
                <a class="admin">Admin</a></a>
                <br><br>
                <div class="icons">
                    <a href="{{url_for("venu")}}">Venus</a>
                    <a href="{{url_for("show")}}">Shows</a>
                    <a href="{{url_for("show_venu")}}">Venu of Show and Price</a>
                </div>
            </div>
            <center>
            <div class="content">
              <h1>Venus of Shows</h1>
              <table>
                <tr>
                    <th>Show Venu Id</th>
                    <th>Show Name</th>
                    <th>Venu Name</th>
                    <th>Price of Ticket</th>
                </tr>
                {% for show_venu in show_venus %}
                <tr>
                    <td>{{show_venu["show_venu_id"]}}</td>
                    <td>{{show_venu["show_name"]}}</td>
                    <td>{{show_venu["venu_name"]}}</td>
                    <td>{{show_venu["show_price"]}}</td>
                </tr>
                {% endfor %}
              </table>
              <a href="{{url_for("book_show_venu")}}"><button class="add">Book Show Venu</button></a>
            </div>
            </center>
    </body>
</html>