<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

</head>
<style>
    .dashboard{
        margin-top: 50px;
    }
    .dashboard_heading{
        font-size: 40px;
    }
    .dashboard_total_revenue{
        width: 150px;
        height: 80px;
        background-color: blue;
    }
</style>
<div class="dashboard">
    <center> 
    <p> &#xF842 </p>
    <h1 class="dashboard_heading">Dashboard</h1>
    <div class="dashboard_total_revenue">
       
    </div>
    </center>
</div