<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial_scale=150">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='CSS/home.css')}}"/>
        <title>Welcome To Ticket Show </title>
    </head>
    <body>
        <header>
            <div class="header_content">
                <div class="left_align">
                    <a href="{{url_for("home")}}"><img class="logo" src="/static/image/logo.png"></a>
                    <a href="#"><input class="search" placeholder=" &#xf002  Search for Movies,Events.. " style="font-family: FontAwesome;"></a>
                </div>
                <div class="right_align">
                    <p class="user" ><a href="#"><i class="bi bi-person-circle">{{user}}</i></a>
                    <a href="{{url_for("logout")}}"><button>Logout</button></a></p>
                </div>
            </div>
        </header>
        <main>
            <div class="sidebar">
                {% if filter_result == True %}
                <a href="{{url_for("home")}}"><dl>clear filter</dl></a>
                {% elif filter_result == False %} 
                    <dl>
                        {% if filter_by_location == "True" %}
                            <dt>Filter by Location</dt>
                            {% for show_location in shows_locations %}
                                <a href="{{url_for("filter_by_location",place= show_location)}}" class="filter_by_location"><dd>-{{show_location}}</dd></a>
                            {% endfor %}
                        {% endif %}
                        {% if filter_by_tag == "True" %}
                            <dt>Filter by Genere</dt>
                            {% for show_tag in shows_tags %}
                                <a href="{{url_for("filter_by_tag",tag= show_tag)}}" class="filter_by_location"><dd>-{{show_tag}}</dd></a>
                            {% endfor %}
                        {% endif %}
                    </dl>
                {% endif %}
            </div>
            <div class="main">
                <h5>{{heading1}}</h5>
                {% for show in shows %}
                    <div class="poster_link_activate">
                        <a href="{{url_for("ticket_booking",id=show["show_id"])}}" class="movie_page_link"> 
                           <div class="main_poster">
                                {% if filter_result  == True %}
                                    <img src="{{"/" + show["show_image_path"]}}" class="poster">
                                {% elif filter_result == False %}
                                    <img src="{{show["show_image_path"]}}" class="poster">
                                {% endif %}
                                <p class="rating">
                                <i class="bi bi-star-fill" style="color: rgb(226, 107, 107);"></i>
                                {{show["show_rating"]}}
                                </p>
                            </div>
                            <p class="movie_name">{{show["show_name"]}}</p>
                            <p class="tags">{{show["show_tag"]}}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>